//https://colorscheme.ru/#3i40Ss4tI9BTV
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS";
    color: @main-text-color;
}

html,
body {
    height: 100%;
}

@border-radius: 5px;
@wrapper-bg-color: #C8F3F3;
@container-bg-color: #7CF3F3;
@border-color: #118E8E;
@warning-color: #CB152B;
@warning-bg-color: #FDE5D1;
@main-text-color: #198383;
@list-border-color: #FDBA82;
@list-btn-txt-color: #ED7B1D;
@width-container: 800px;
@height-container-min: 640px;


.wrapper {
    min-height: 100%;
    height: 100%;
    padding-top: 50px;
    background-color: @wrapper-bg-color;
    justify-content: center;

    .container {
        width: @width-container;
        margin: 0 auto;
        min-height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: @container-bg-color;
        border: 1px solid @border-color;
        border-radius: @border-radius;
    }

    .form__input {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .form__input-item {
            width: 100%;
            margin-bottom: 20px;

            label {
                display: block;
                margin-bottom: 3px;
            }

            .input {
                width: 100%;
                padding: 10px;
                font-size: 16px;
                color: @main-text-color;
                border: 1px solid @border-color;
                background-color: @wrapper-bg-color;
                border-radius: @border-radius;
            }
        }

        .form__warning {
            visibility: hidden;
            color: @warning-color;
            font-weight: bold;
        }
    }

        .form__button{
            width: 100%;
            margin-bottom: 40px;
            text-align: center;

            &-item {
                width: 100%;
                margin-top: 20px;
                padding: 15px;
                font-size: 16px;
                font-weight: bold;
                border-radius: @border-radius;
                border: 1px solid transparent;
                background-color: @main-text-color;
                color: @wrapper-bg-color;
                cursor: pointer;
            }
        }

    .main-container {
        width: @width-container;
        min-height: 90%;
        margin: 0 auto;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        background-color: @container-bg-color;
        border: 1px solid @border-color;
        border-radius: @border-radius;

        .header {
            display: flex;
            justify-content: space-between;
            padding: 15px 20px;
            background-color: @list-btn-txt-color;

            &__button {
                width: 180px;
                padding: 8px;
                background-color: @container-bg-color;
                border: 1px solid @list-border-color;
                border-radius: @border-radius;
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
            }

            &__select {
                width: 180px;
                padding: 8px;
                font-size: 16px;
                border-radius: @border-radius;
                border: none;
                cursor: pointer;
            }
        }
    }

    .tabset {
        color: @container-bg-color;

        &__header,
        .link {
            display: flex;
            background-color: #f1f1f1;
            overflow: hidden;

            &__item {
                flex: 1;
                padding: 15px;
                background-color: @border-color;
                color: @container-bg-color;
                font-weight: bold;
                font-size: 16px;
                border: none;
                outline: none;
                cursor: pointer;
            }
            
            &__item:hover {
                background-color: lighten(@border-color, 10%);
            }
            
            &__item.active {
                background-color: @container-bg-color;
                color: @border-color;
            }

            &__item:disabled {
                background-color: lighten(@border-color, 12%);
             }
        }
               
        &__content {
            max-height: 700px;
            min-height: 300px;
            padding: 40px 20px 20px;
            overflow-y: auto;
        }
        
        .hidden {
            display: none;
        }
    }

    .list {

        &__item {
            margin-bottom: 15px;
            padding: 15px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: @wrapper-bg-color;
            border: 1px solid @list-border-color;
            border-radius: @border-radius;
            overflow-y: auto;

            .list__text{
                overflow-y: auto;
            }

            .list__button {
                margin-left: 20px;
                padding: 10px 30px;
                border-radius: @border-radius;
                border: 1px solid @list-border-color;
                background-color: @list-btn-txt-color;
                color: @main-text-color;
                font-size: 16px;
                cursor: pointer;
            }
        }
    }

    .edit-container {
        display: none;

        &__item{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;

            textarea {
                width: 70%;
                height: 80px;
                margin-left: 30px;
                resize: none;
            }
        }

        .edit-buttons {
            display: flex;
            justify-content: space-around;
    
            &__button{
                width: 180px;
                height: 40px;
                color: @container-bg-color;
                background-color: @border-color;
                border: 1px solid;
                border-radius: @border-radius;
                cursor: pointer;
            }
        }
    }
}